<img src="https://webna.ir/wp-content/uploads/2018/08/%D9%85%DA%A9%D8%AA%D8%A8-%D8%AE%D9%88%D9%86%D9%87.png" width=50% />

<div class="alert alert-block alert-success">
    <h1 align="center">Machine Learning in Python</h1>
    <h3 align="center">Mini Project2 - Bike Sharing</h3>
</div>

<img src = "https://storage.googleapis.com/kaggle-competitions/kaggle/3948/media/bikes.png" width=80%>

## Importing the libraries

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

## Load and Prepare Data

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

## EDA

In [3]:
train.sample(5)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
10621,2012-12-08 23:00:00,4,0,0,2,16.40,20.455,94,0.0000,18,144,162
1835,2011-05-03 09:00:00,2,0,1,2,24.60,28.790,78,23.9994,29,157,186
9813,2012-10-13 06:00:00,4,0,0,1,12.30,14.395,61,12.9980,5,23,28
2067,2011-05-13 01:00:00,2,0,1,1,21.32,25.000,83,11.0014,5,15,20
10288,2012-11-14 02:00:00,4,0,1,1,9.84,10.605,60,19.9995,0,1,1

In [4]:
test.sample(5)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
6094,2012-11-26 06:00:00,4,0,1,1,9.02,13.635,69,0.0000
1635,2011-07-23 03:00:00,3,0,0,1,31.98,37.880,66,6.0032
5083,2012-07-29 15:00:00,3,0,0,1,32.80,36.365,43,8.9981
1296,2011-06-20 00:00:00,2,0,1,1,27.06,30.305,83,11.0014
3322,2012-01-24 03:00:00,1,0,1,2,13.12,16.665,93,8.9981

In [5]:
print('shape train :', train.shape)
print('shape test : ', test.shape)

shape train : (10886, 12)
shape test :  (6493, 9)

## Data Preprocessing

## Strorytelling - Visualization

## Train your model (Regression)

## Test Result

## Send us the Result (Maktabkhoone)